.button{
    background-color: #DB4444;
    color: #FAFAFA;
}

.camera{
    background-color: #DB4444;
    color: #FAFAFA;
}

.end{
    background-color: #000000;
    line-height: 2;
}

.banner{
    line-height: 2;
}

#cart:hover{
   transform: translateX(2200%);
   transition-duration: 4s;
}